<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Working Papers</h3>
    <ul style="list-style-type:none; padding-left: 0;">
      <li><b><a href="https://shanonhmhsu.github.io/research/" style="font-size: 16px; target="_blank">Coercive Growth: Forced Resettlement, Ethnicity-Biased Agglomeration, and Economic Development in Malaysia</a></b> (<i>Job Market Paper</i>)</li>
      <p style="font-size: 16px;">[Draft coming soon]</p>
      <p style="font-size: 16px;">Abstract: </p> <!-- Set font size for abstract -->
    </ul>
    <ul style="list-style-type:none; padding-left: 0;">
      <li><b><a href="https://shanonhmhsu.github.io/research/" style="font-size: 16px; target="_blank">Gaining Steam: Incumbent Lock-in and Entrant Leapfrogging</a></b> <span style="font-size: 18px;">(with <a href="https://voices.uchicago.edu/richardhornbeck/">Richard Hornbeck</a>, <a href="https://www.andershumlum.com/">Anders Humlum</a>, and <a href="https://sites.google.com/view/mrotemberg/home?authuser=0/">Martin Rotemberg</a>, June 2024.)</span></li>
      <p style="font-size: 16px;">Revise and Resubmit, <i>Journal of Political Economy</i>.</p>
      <p style="font-size: 16px;">Abstract: We examine the long transition from water to steam power in US manufacturing, focusing on early users of mechanical power:  lumber and flour mills. Digitizing Census of Manufactures manuscripts for 1850-1880, we show that as steam costs declined, manufacturing activity grew faster in counties with less waterpower potential. This growth was driven by steam powered entrants and agglomeration, as water powered incumbents faced switching barriers from sunk costs. Estimating a dynamic model of entry and steam adoption, we find that the interaction of switching barriers and high fixed costs creates a quantitatively important and socially inefficient drag on technology adoption.</p> <!-- Set font size for abstract -->
      <!-- <p style="text-indent:12px;font-size:11px">• Presentations:</p> -->
    </ul>
  </div>

  <div style="margin-top: 50px;">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Work in Progress</h3>
    <ul style="list-style-type:none; padding-left: 0;">
      <li><b><a href="https://shanonhmhsu.github.io/research/" style="font-size: 18px;">Paper 1</a></b></li>
      <p style="font-size: 16px;">Abstract: We</p> <!-- Set font size for abstract -->
      <p style="text-indent:12px;font-size:11px">• Presentations:</p>
    </ul>
  </div>
</div>
