<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Working Papers</h3>
    <ul style="list-style-type:none; padding-left: 0;"> <!-- Removes bullet points -->
      <li><b><a href="https://shanonhmhsu.github.io/research/">Paper 1</a></b></li> 
      <p>Abstract: We</p>
      <p style="text-indent:10px;font-size:11px">• Presentations:</p>
    </ul>
  </div>

  <div style="margin-top: 50px;"> <!-- Adds separation -->
    <h3 class="fw-bold border-bottom pb-3 mb-5">Work in Progress</h3>
    <ul style="list-style-type:none; padding-left: 0;">
      <li><b><a href="https://shanonhmhsu.github.io/research/">Paper 1</a></b></li> 
      <p>Abstract: We</p>
      <p style="text-indent:10px;font-size:11px">• Presentations:</p>
    </ul>
  </div>
</div>
