---
layout: default
---

<div class="row g-0 mb-5 align-items-center">
  <div class="col-lg-5 col-md-12 d-flex justify-content-center mb-4 mb-lg-0">
    <img src="{{ site.github.url }}/assets/img/profile.jpeg" alt="Home" style="width: 100%; max-width: 400px; min-width: 300px; height: auto">
  </div>
  <div class="col-lg-7 col-md-12 d-flex justify-content-start">
    <div class="text-content" style="text-align: justify; margin-left: 40px">
      <h3 class="fw-bold"></h3>
      {{ content }}
    </div>
  </div>
</div>


{% include research.html %}

<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
